<?xml version="1.0" encoding="UTF-8"?>
<Configuration i18nCode="${env:log.level:-INFO}" monitorInterval="30">
    <Properties>
        <Property name="logPath">logs</Property>
<!--        <Property name="logLevel"></Property>-->
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="${logPath}/example.log"
                     filePattern="${logPath}/example-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${env:log.level:-INFO}">
<!--            <AppenderRef ref="File"/>-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
